body {
    margin: 10px;
    background-color: #f8f8f8;
    color: #424547;
}

#drawing-canvas {
    border: 3px solid #999
}

.colorbox {
    width: 22px;
    height: 22px;
    margin: 1px;
    display: inline-block;
    border: 3px solid black;
}

li {
    margin-left: -20px;
}

input{
    display: block;
    margin: 5px 5px 5px 0px;
}
.module{
}
.box{
    border: solid;
    border-width: thin;
    margin: 5px;
    padding: 5px;
    display: inline-table;
}
.boxTitle{
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}
/*
 * canvas stuff
 */
#c{
    border-style: solid;
}
.canvas-container{
    margin-bottom: 10px;
}
#controls input{
    display: inline;
}
.layer-controls{
    text-decoration: none;
}
